<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Iconic pack -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Joels Portfolio</title>
  </head>
  <body onload="oninit()">
  <!-- START OF JUMBOTRON -->
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">Hello, I am Joel Halford.</h1>
	    <hr class="display-4">
	    <p class="lead">I am a graduate of Software Engineering and <span id="love">love</span> Web Development;</p>
	    <p class="lead follow">I mostly develop using HTML, CSS, JavaScript, Node, Express and MongoDB;</p>
	    <p id="icons">
	    	<a href="https://www.linkedin.com/in/joel-halford-3b6a79106/" target="_blank"><img src="images/linkedIn.png"></a>
	    </p>
	  </div>
	</div>
	<!-- END OF JUMBOTRON -->