<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Iconic pack -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Joels Portfolio</title>
  </head>
  <body onload="oninit()">
  <!-- START OF JUMBOTRON -->
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">Hello, I am Joel Halford.</h1>
	    <hr class="display-4">
	    <p class="lead">I am a graduate of Software Engineering and <span id="love">love</span> Web Development;</p>
	    <p class="lead follow">I mostly develop using HTML, CSS, JavaScript, Node, Express and MongoDB;</p>
	    <p id="icons">
	    	<a href="https://www.linkedin.com/in/joel-halford-3b6a79106/" target="_blank"><img src="images/linkedIn.png"></a>
	    </p>
	  </div>
	</div>
	<!-- END OF JUMBOTRON -->
	<!-- START OF NAVBAR -->
	<nav>
	  <div id="nav" class="nav nav-tabs" id="nav-tab" role="tablist">
	    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
	    	<span id="home-icon" class="oi oi-home"></span><span class="nav-text" id="home"> Home</span>
	    </a>
	    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">
	    	<span class="oi oi-person"></span><span class="nav-text" id="about"> About</span>
	    </a>
	    <a class="nav-item nav-link" id="nav-experience-tab" data-toggle="tab" href="#nav-experience" role="tab" aria-controls="nav-experience" aria-selected="false">
	    	<span class="oi oi-terminal"></span><span class="nav-text" id="experience"> Experience</span>
	  	</a>
	    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
	    	<span class="oi oi-envelope-closed"></span><span class="nav-text" id="contact"> Contact</span>
	    </a>
	  </div>
	</nav>