<% include partials/header %>
	<!-- START OF NAVBAR -->
	<nav>
	  <div id="nav" class="nav nav-tabs" id="nav-tab" role="tablist">
	    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
	    	<span id="home-icon" class="oi oi-home"></span><span class="nav-text" id="home"> Home</span>
	    </a>
	    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">
	    	<span class="oi oi-person"></span><span class="nav-text" id="about"> About</span>
	    </a>
	    <a class="nav-item nav-link" id="nav-experience-tab" data-toggle="tab" href="#nav-experience" role="tab" aria-controls="nav-experience" aria-selected="false">
	    	<span class="oi oi-terminal"></span><span class="nav-text" id="experience"> Experience</span>
	  	</a>
	    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
	    	<span class="oi oi-envelope-closed"></span><span class="nav-text" id="contact"> Contact</span>
	    </a>
	  </div>
	</nav>
	<!-- START OF PANEL CONTENT -->
	<div class="tab-content" id="nav-tabContent">
		<!-- START OF HOME PANEL -->
	  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">	
			<div id="home-container" class="container content-container">
			  <div class="row">
			    <div class="col">
				    	<h3 id="home-overview">Overview</h3>
							<ul class="list-group list-group-flush">
							  <li class="list-group-item">To find out more about me, visit 'About'.</li>
							  <li class="list-group-item">To check what experience I have had, visit 'Experience'.</li>
							  <li class="list-group-item">Want to get in touch? Use the contact page.</li>
							  <li class="list-group-item">Or just have a play with the colours.</li>
							</ul>
			    </div>
			    <div class="col coloured-column">
			      <div class="row coloured-row"></div><div class="row coloured-row"></div>
			      <div class="row coloured-row"></div><div class="row coloured-row"></div>
			      <div class="row coloured-row"></div><div class="row coloured-row"></div>
			      <div class="row coloured-row"></div><div class="row coloured-row"></div>
			      <div class="row coloured-row"></div><div class="row coloured-row"></div>
			      <div class="row coloured-row"></div><div class="row coloured-row"></div>
			      <div class="row coloured-row"></div><div class="row coloured-row"></div>
			    </div>
			  </div>
			</div>
	  </div>
	  <!-- END OF HOME PANEL -->
	  <!-- START OF ABOUT PANEL -->
	  <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
			<div class="container content-container">
			  <div class="row">
			    <div class="col">
				    <h3 id="about-overview">About</h3>
						<ul class="list-group list-group-flush">
						  <li class="list-group-item">
						  	<strong>Who are you?</strong>
						  	<p>
						  		My name is Joel Halford. I am a graduate from Sheffield Hallam with a 2:1 in Software Engineering BEng (Bachelor's Degree). I graduated in 2018.
						  	</p>
						  </li>
						  <li class="list-group-item">
						  	<strong>Do you have any certificates?</strong>
						  	<p>
						  		<ul>
						  			<li>I have completed a Web Development course on Udemy by Colt Steele. This course can be located <a href="https://www.udemy.com/the-web-developer-bootcamp/learn/v4/content">here</a>.</li>
										<li>PHP certificate via SoloLearn.</li>
										<li>HTML certificate via SoloLearn.</li>
									</ul>
								</p>
						  </li>
						  <li class="list-group-item">
						  	<strong>Give a brief description of your final year project.</strong>
						  	<p>
						  		For my FYP (Final Year Project) I designed a budgeting application. This website allowed used to login, create a monthly budget, track spending, share and view products and more. This web application was created using the MEAN stack. The website can be viewed <a href="http://www.budetsave.co.uk">here</a>.
						  	</p>
							</li>
							</ul>
	  			</div>
			    <div class="col">
				    <h3 id="about-overview2">me</h3>
						<ul class="list-group list-group-flush">
						  <li class="list-group-item">
						  	<strong>Are you currently working?</strong>
						  	<p>
						  		I am currently working at Wilkos while studying Web Development in my free time.
						  	</p>
						  </li>
						  <li class="list-group-item">
						  	<strong>What types of experience do you have?</strong>
						  	<ul>
						  		<li>HTML and CSS</li>
									<li>JavaScript and jQuery</li>
									<li>Bootstrap / Semantic UI</li>
									<li>Node.js</li>
									<li>Express</li>
									<li>Pug, react, angular2 and ejs</li>
									<li>MongoDB</li>
									<li>More...</li>
						  	</ul>
						  </li>
							</ul>
	  			</div>
	  		</div>
			</div>
		</div>
		<!-- END OF ABOUT PANEL -->
		<!-- START OF EXPERIENCE PANEL -->
	  <div class="tab-pane fade" id="nav-experience" role="tabpanel" aria-labelledby="nav-experience-tab">
			<div class="container content-container">
				<h2 id="project-header">Projects/Experience</h2>
				<p class="lead">Here are some of my projects. These projects are from various sources. This includes: University, bootcamp(s) and in my spare time. </p>
	  		<div class="row">
	  			<div class="col">
						<div class="card" style="width: 18rem;">
						  <img class="card-img-top project-image" src="images/budgetsave.png" alt="Card image cap">
						  <div class="card-body">
						  	<h5 class="card-title"><a href="http://www.budgetsave.co.uk" target="_blank">Budgeting App</a></h5>
						    <p class="card-text">A budget saving application using the MEAN stack.</p>
						  </div>
						</div>
	  			</div>
	  			<div class="col">
						<div class="card" style="width: 18rem;">
						  <img class="card-img-top project-image" src="images/yelpcamp.PNG" alt="Card image cap">
						  <div class="card-body">
						  	<h5 class="card-title"><a href="https://warm-badlands-72330.herokuapp.com/" target="_blank">Camping App</a></h5>
						    <p class="card-text">A camping application using the MEN stack.</p>
						  </div>
						</div>
	  			</div>
	  			<div class="col">
						<div class="card" style="width: 18rem;">
						  <img class="card-img-top project-image" src="images/faqdarkmode.png" alt="Card image cap">
						  <div class="card-body">
						  	<h5 class="card-title"><a href="/urban-transport">View Designs</a></h5>
						    <p class="card-text">Designs from an alpha build of a Java project.</p>
						  </div>
						</div>
	  			</div>
	  			<div class="col">
						<div class="card" style="width: 18rem;">
						  <img class="card-img-top project-image" src="images/who.jpg" alt="Card image cap">
						  <div class="card-body">
						    <p class="card-text">More projects to be added once hosted!</p>
						  </div>
						</div>
	  			</div>
	  		</div>
			</div>
		</div>
		<!-- END OF EXPERIENCE PANEL -->
		<!-- START OF CONTACT PANEL -->
	  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
			<div id="contact-container" class="container content-container">
				<h5 id="contact-title">Feel free to contact me via email, phone, skype or LinkedIn!</h5>
	  		<ul class="list-group">
				  <li class="list-group-item"><strong>Email Address</strong><span class="contact-details">Joel_Halford@hotmail.com</span></li>
				  <li class="list-group-item"><strong>Number</strong><span class="contact-details">07854798355</span></li>				  
				  <li class="list-group-item"><strong>LinkedIn</strong><span class="contact-details"><a href="https://www.linkedin.com/in/joel-halford-3b6a79106/" target="_blank">Click here</a></span></li>
				</ul>
			</div>
	  </div>
	  <!-- END OF CONTACT PANEL -->
	</div>
	<!-- END OF PANEL CONTENT -->
  <!-- START OF FOOTER  -->
	<footer class="footer">
		<div class="container">
			<span class="text-muted">Copyright: Joel Halford (2018)</span>
		</div>

<% include partials/footer %>