<% include partials/header %>

<div id="urban-container" class="container content-container">
  <h2 id="urban-transport-header"><a href="/#nav-experience"><span class="back-icon oi oi-arrow-circle-left"></span></a>Urban Transport Designs</h2>
  <p class="lead">A couple of designs I created in Java for an alpha build of an Urban Transport application on mobile devices in which wee received a high mark. The designs were based on requirements by the client.</p>
  <div class="row">
    <div class="col-sm-4 urban-transport-image">
      <img src="images/mytickets.png">
      <p class="image-details">Overview of purchased tickets.</p>
    </div>
    <div class="col-sm urban-transport-image">
      <img src="images/search.png">
      <p class="image-details">Search stations: to/from.</p>
    </div>
    <div class="col-sm-4 urban-transport-image">
      <img src="images/deals.png">
      <p class="image-details">Available tickets.</p>
    </div>
  </div>
  <div class="row">       
    <div class="col-sm urban-transport-image">
      <img src="images/yourticket.png">
      <p class="image-details">Overview of travel. Breakdown of journey, time, price, etc.</p>
    </div>
    <div class="col-sm urban-transport-image">
      <img src="images/ticketoverview.png">
      <p class="image-details">Payment screen.</p>
    </div> 
    <div class="col-sm-4 urban-transport-image">
      <img src="images/faqdarkmode.png">
      <p class="image-details">Example of dark mode on FAQ.</p>
    </div>
  </div>
</div>

<% include partials/footer %>