body {
	font-family: 'Karla', sans-serif;
}

.jumbotron {
	height: 100%;
	margin: 0 auto;
}

.jumbotron .display-4, .lead {
	text-align: center;
}

.jumbotron #love {
	color: red;
	font-style: italic;
	font-weight: 700;
}

.jumbotron .display-4, .jumbotron .lead, .jumbotron .lead.follow {
	display: none;
}

.jumbotron hr {
    border: 0;
    height: 1px;
    background: #333;
}

#icons {
	display: none;
	text-align: center;
}
#nav {
	width: 100%;
	border-bottom: 0px;
	margin: 0 auto;
	position: relative;
}

#nav .nav-link{
	color: #aaadaf;
	/*font-size: 1.3em;*/
	text-align: center;
	margin: 1% auto;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 851px) {
  #nav .nav-link {
    font-size: 1.3em;
  }
}

/*If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 850px) {
  #nav .nav-link {
    font-size: 0.7em;
  }
}

#nav .nav-link:nth-of-type(1){
	position: absolute;
	left: 20%;
}

#nav .nav-link:nth-of-type(2){
	position: absolute;
	left: 40%;
}

#nav .nav-link:nth-of-type(3){
	position: absolute;
	left: 60%;
}

#nav .nav-link:nth-of-type(4){
	position: absolute;
	left: 80%;
}

#nav .nav-link:hover{
	border: 0px;
	color: #888a8c;
}

#nav .nav-link.active {
	border-top: 0px;
	border-left: 1px solid rgba(136, 138, 140, 0.4);
	border-right: 0px;
	border-bottom: 0px;
	color: #888a8c;
}
.container {
	margin-top: 10px;
}

.content-container {
	margin-bottom: 100px;
	padding-top: 150px;
}

.coloured-row {
	text-align: right;
	height: 20px;
	margin-top: 1px;
	margin-left: auto;
	margin-right: 0;
	display: none;
}

#home-main-p {
	font-size: 1.5em;
}

#home-overview {
	padding-left: 20px;
}

#about-overview, #about-overview2 {
	letter-spacing: 0.5em;
}

#about-overview {
	text-align: right;
}
/*#about-image {
	margin-bottom: 2%;
	width: 80%;
	float: right;
	opacity: 0.5;
}*/

.project-image {
	width: 100%;
	height: 300px;
}

.card {
	margin: 10px auto;
}

.card-body {
	text-align: center;
}

.contact-details {
	float: right;
}

#contact-container {
	width: 600px;
}

#contact-title {
	text-align: center;
	margin-bottom: 2em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 30px;
  text-align: center;
  background-color: #f5f5f5;
}